
.link-voltar {
    background: none;
    border: none;
    color: #5DD62C; 
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.transacao-valor .entrada { color: #5DD62C; }
.transacao-valor .saida { color: #e45454; }

#trocar-tema {
    padding: 10px 15px;
    cursor: pointer;
    background-color: transparent;
    color: #f0f0f0;         
    border: 1px solid #f0f0f0; 
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

#trocar-tema:hover {
    background-color: #f0f0f0;
    color: #1e1e1e;
} 